* {
    margin: 0;
}

body.light-theme {
    --background-color: #ffffff;
    --text-color: #000000;
    --container-bg-color: aqua;
    --body-bg-color: #c7c5c5;
}

body.dark-theme {
    --background-color: #121212;
    --text-color: #ffffff;
    --container-bg-color: #004d40;
    --body-bg-color: #433f3f;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.body {
    position: relative;
    display: block;
    width: 40%;
    margin: 0 auto;
    background-color: var(--background-color);
    padding: 1rem;
    margin-top: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--body-bg-color);
}

.theme {
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 50px;
    border-radius: 50%;
    border: none;
    background-color: #6d6868;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tooltip-text {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-20%);
    transform: translateY(100%);
    white-space: nowrap;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
}

.theme button {
    border-radius: 50%;
    border: none;
    font-size: large;
    background-color: #6d6868;
    cursor: pointer;
}

.theme:hover {
    background-color: #615e5e;
    color: #000000;
}

.theme:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.print {
    height: 40px;
    width: 40px;
    margin: 10px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 20%;
    border: none;
    background-color: #6d6868;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.print button {
    border-radius: 20%;
    border: none;
    font-size: larger;
    background-color: #6d6868;
    cursor: pointer;
}

.print:hover {
    background-color: #615e5e;
    color: #000000;
}

.print:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.container {
    background-color: var(--container-bg-color);
    width: 100%;
    padding: 1rem;
    margin-top: 45px;
}

@media (max-width: 768px) {
    .body {
        width: 70%;
    }

    .theme {
        right: 80px;
    }

    .print {
        right: 10px;
    }
}

@media (max-width: 480px) {
    .body {
        width: 90%;
    }

    .theme {
        right: 70px;

    }

    .print {
        right: 10px;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    .container,
    .container * {
        visibility: visible;
    }

    .container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}